body {
    margin: 0;
    padding: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotating {
    position: relative;
    list-style: none;
    padding: 0;
}

.rotating .image{
    position: absolute;
    width: 300px;
}
.plot-image {
    width: 400px;
    animation: loop 10s linear infinite;
}
@keyframes rotate {
    10%  {opacity: 0;}
    15%  {opacity: 1;}
    100% {opacity: 1;}
}