{% extends 'playground\main_hc.html' %}
{% load static %}
{% block additional_content %}
<div class="algorithm-parameters" id="section">
    <h3 class="blue-bottom">Algorithm Parameters</h3>
    <label for="iterations">Number of runs:</label>
    <input type="range" id="iterations" name="iterations" min="1" max="100" value="1"
        oninput="this.nextElementSibling.value = this.value">
    <output>1</output>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function () {
        $('#start-button').click(function () {
            let weighted = $('#weighted').is(':checked');
            let formData = new FormData();
            formData.append('weighted', weighted);;
            let selectedCityCount = $('input[name="city-count"]:checked').val();
            let customFile = $('#custom-file')[0].files[0];
            let iterations = $('#iterations').val();

            if (customFile) {
                formData.append('custom_file', customFile);
            } else if (selectedCityCount) {
                formData.append('city_count', selectedCityCount);
            } else if ($('input[name="location"]:checked').val() === 'custom' && !customFile) {
                $('#error-message').text('Please upload a custom map file.').show();
                return;
            } else {
                $('#error-message').text('Please select the number of cities.').show();
                return;
            }
            formData.append('iterations', iterations);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            $('#result').hide()
            $('#waiting-message').show();
            $.ajax({
                url: '{% url "hc_restarts" %}',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#error-message').text('').hide();
                    plotFiles = response;
                    startVisualization(plotFiles);
                    $('#replay-button').show();
                    $('#waiting-message').hide();
                },
                error: function (xhr, status, error) {
                    let errorMessage = xhr.responseJSON.error;
                    $('#error-message').text(errorMessage).show();
                    $('#waiting-message').hide();
                }
            });
        });
    });
</script>
{% endblock %}