{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div>
        {% for alg in algorithms %}
        <div>
            <a href="/{{alg.key}}"><h5>{{alg.name}}</h5></a>
        </div>
        {% endfor %}
    </div>
    <div id="controls">
        <h2>Maps</h2>
        <input type="radio" id="predefined" name="location" value="predefined" checked>
        <label for="predefined">PRE-DEFINED</label>
        <input type="radio" id="custom" name="location" value="custom">
        <label for="custom">CUSTOM</label>
    
        <div id="predefined-options">
            <label>City count:</label>
            <input type="radio" name="city-count" value="5"> 5 cities
            <input type="radio" name="city-count" value="10"> 10 cities
            <input type="radio" name="city-count" value="15"> 15 cities
            <input type="radio" name="city-count" value="20"> 20 cities
        </div>
    
        <div id="custom-options" style="display: none;">
            <label for="myfile">Select a file:</label>
            <input type="file" id="custom-file" name="custom_file" accept=".csv, text/csv"/>
        </div>
        {% block additional_content %}
        {% endblock %}
        <div id="error-message" style="color: red; display: none;"></div>
        <button id="replay-button" style="display: none;">Replay</button>
        <button id="start-button">Start</button>
    </div>
    <div id="result" style="display: none;">
        <h2>Best Tour: <span id="tour"></span></h2>
        <h2>Best Distance: <span id="distance"></span></h2>
        <div id="plots">
            <ul class="rotating">
                <!-- Plots will be dynamically added here -->
            </ul>
        </div>
    </div>
    <script>
        function startVisualization(plotFiles) {
            $('#tour').text(plotFiles.tour.join(' -> '));
            $('#distance').text(plotFiles.distance);
            $('.rotating').empty();
            plotFiles.plot_files.forEach(function(plot_file, index) {
                let timestamp = new Date().getTime();
                let plot_url = plot_file + '?t=' + timestamp;
                $('.rotating').append('<li class="image"><img src="' + plot_url + '" alt="Plot" class="plot-image"></li>');
            });

            let numberOfImages = plotFiles.plot_files.length;
            let totalDuration = numberOfImages * 1; 

            $('.rotating .image').each(function(index) {
                $(this).css('animation', `rotate ${totalDuration}s forwards linear`);
                $(this).css('animation-delay', `${index * 1}s`);
            });

            $('#result').show();
        }

        $(document).ready(function() {
            let plotFiles;

            $('input[name="location"]').change(function() {
                if (this.value === 'predefined') {
                    $('#predefined-options').show();
                    $('#custom-options').hide();
                    $('#custom-file').val('');
                    $('#error-message').hide();
                } else {
                    $('#predefined-options').hide();
                    $('#custom-options').show();
                }
            });
            $('#custom-file').change(function(e) {
                var ext = this.value.match(/\.([^\.]+)$/)[1];
                if (ext !== 'csv') {
                    $('#error-message').text('Not allowed. Please upload a CSV file.').show();
                    this.value = '';
                } else {
                    $('#error-message').hide();
                }
            });
        });
    </script>
    {% block extra_js %}{% endblock %}
</body>

</html>
