{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/56051789c3.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        {% for alg in algorithms %}
        <div class="tooltip">
            <a href="/{{alg.key}}">
                <h5>{{alg.name}}</h5>
            </a>
            <span class="tooltiptext">{{ alg.description }}</span>
        </div>
        {% endfor %}
    </div>
    <div id="controls">
        <h2>Maps</h2>
        <input type="radio" id="predefined" name="location" value="predefined" checked>
        <label for="predefined">PRE-DEFINED</label>
        <input type="radio" id="custom" name="location" value="custom">
        <label for="custom">CUSTOM</label>
        <div class="tooltip">
            <i class="fa-solid fa-circle-info" alt="Info" style="width: 16px; height: 16px;"></i>
            <span class="tooltiptext">
                <strong>map_example.csv:</strong><br>
                <code>X, Y<br>
                1, 2<br>
                3, 3<br>
                ...</code>
            </span>
        </div>
        <div id="predefined-options">
            <label>City count:</label>
            <input type="radio" name="city-count" value="5"> 5 cities
            <input type="radio" name="city-count" value="10"> 10 cities
            <input type="radio" name="city-count" value="15"> 15 cities
            <input type="radio" name="city-count" value="20"> 20 cities
        </div>

        <div id="custom-options" style="display: none;">
            <label for="myfile">Select a file:</label>
            <input type="file" id="custom-file" name="custom_file" accept=".csv, text/csv" />
        </div>
        {% block additional_content %}
        {% endblock %}
        <div id="error-message" style="color: red; display: none;"></div>
        </div>
        <div id="navigation-buttons">
            <button id="prev-button" disabled><i class="fa-solid fa-backward"></i></button>
            <button id="next-button" disabled><i class="fa-solid fa-forward"></i></button>
            <button id="replay-button" disabled><i class="fa-solid fa-repeat"></i></button>
            <button id="start-button"><i class="fa-solid fa-play"></i></button>
        </div>
        <div id="waiting-message">Please wait while the visualization is being generated...</div>
    </div>
    <div id="result" style="display: none;">
        <h2 id="iteration-section" style="display: none;">Iteration: <span id="iteration-count">0</span></h2> <!-- Initially hidden -->
        <h2>Tour: <span id="tours"></span></h2>
        <h2>Distance: <span id="distances"></span></h2>
        <h2>Time: <span id="elapsed-time"></span></h2>
        <div id="plots">
            <ul class="rotating">
                <!-- Plots will be dynamically added here -->
            </ul>
        </div>
    </div>
    <script>
        let history = {
            tours: [],
            distances: [],
            swappedNodes: [],
            // currentStep: 0
        };
        function waitOneSecond() {
            return new Promise(resolve => setTimeout(resolve, 1000));
        }

        function highlightTour(tour, swappedNodes, backgroundColor = '#65B48E') {
            let tourHtml = tour.map((node, index) => {
                let color = (swappedNodes && swappedNodes.includes(index)) ? '#E6EB00' : backgroundColor;
                return `<span style="background:${color}; border-radius: 50%;">${node}</span>`;
            }).join('-');
            $('#tours').html(tourHtml);
        }
        function displayHistory(data, idx) {
            $('.rotating .image').hide().eq(idx).show();
            highlightTour(history.tours[idx], history.swappedNodes[idx]);
            $('#distances').text(history.distances[idx].toFixed(2));
            // $('#iteration-count').text(step + 1);
        }

        function startVisualization(data) {
            $('#waiting-message').hide();
            $('#distances').text(data.distances);
            $('#elapsed-time').text(data.elapsed_time.toFixed(2) + ' seconds');
            $('.rotating').empty();

            data.plot_files.forEach(function (plot_file, index) {
                let timestamp = new Date().getTime();
                let plot_url = plot_file + '?t=' + timestamp;
                $('.rotating').append('<li class="image"><img src="' + plot_url + '" alt="Plot" class="plot-image"></li>');
            });

            let numberOfImages = data.plot_files.length;
            let totalDuration = numberOfImages * 1;

            $('.rotating .image').each(function (index) {
                $(this).css('animation', `rotate ${totalDuration}s forwards linear`);
                $(this).css('animation-delay', `${index * 1}s`);
            });
            let currentTourIndex = data.tours.length;
            let currentPlotIndex = data.plot_files.length - 1;
            async function displayNextTour(data, tourIndex) {
                if (tourIndex < data.tours.length - 1) {
                    if (data.swapped_nodes_list == null) {
                        $('#iteration-section').show();
                        highlightTour(data.tours[tourIndex], null);
                        $('#distances').text(data.distances[tourIndex].toFixed(2));

                        history.tours.push(data.tours[tourIndex])
                        history.distances.push(data.distances[tourIndex])
                        history.swappedNodes.push(null)
                        tourIndex++;
                        $('#iteration-count').text(tourIndex); // Update iteration count

                        setTimeout(() => displayNextTour(data, tourIndex), 1000);
                    }
                    else {
                        highlightTour(data.tours[tourIndex], null); // Initial tour highlight
                        
                        history.tours.push(data.tours[tourIndex])
                        history.distances.push(data.distances[tourIndex])
                        history.swappedNodes.push(null)

                        $('#distances').text(data.distances[tourIndex].toFixed(2));
                        await waitOneSecond(); // Wait for 1 second

                        highlightTour(data.tours[tourIndex], data.swapped_nodes_list[tourIndex] || []); // Highlight swapped nodes
                        
                        history.tours.push(data.tours[tourIndex])
                        history.distances.push(data.distances[tourIndex])
                        history.swappedNodes.push(data.swapped_nodes_list[tourIndex] || null)
                        
                        tourIndex++;
                        setTimeout(() => displayNextTour(data, tourIndex), 1000);
                    }
                }
                else{
                    if (data.swapped_nodes_list == null) {
                        $('#iteration-section').hide();
                        highlightTour(data.tours[tourIndex], null, '#E64E00');
                        $('#distances').text(data.distances[tourIndex].toFixed(2));

                        history.tours.push(data.tours[tourIndex])
                        history.distances.push(data.distances[tourIndex])
                        history.swappedNodes.push(null)

                        history.tours.push(data.tours[tourIndex])
                        history.distances.push(data.distances[tourIndex])
                        history.swappedNodes.push(null)
                    }
                    else {
                        $('#distances').text(data.distances[tourIndex].toFixed(2));
                        await waitOneSecond();
                        highlightTour(data.tours[tourIndex], null, '#E64E00');

                        history.tours.push(data.tours[tourIndex])
                        history.distances.push(data.distances[tourIndex])
                        history.swappedNodes.push(null)

                        history.tours.push(data.tours[tourIndex])
                        history.distances.push(data.distances[tourIndex])
                        history.swappedNodes.push(null)

                    }
                    // Enable navigation buttons
                    $('#prev-button').prop('disabled', false);
                    $('#replay-button').prop('disabled', false);
                    console.log(history.tours)
                    console.log(history.distances)
                }
            }

            $('#result').show();
            displayNextTour(data, 0);
            $('#prev-button').click(function () {
                if (currentPlotIndex >= 0) {
                    currentPlotIndex--;
                    displayHistory(data, currentPlotIndex);
                    $('#next-button').prop('disabled', false);
                }
                if (currentPlotIndex === 0) {
                    $('#prev-button').prop('disabled', true);
                }
            });

            $('#next-button').click(function () {
                if (currentPlotIndex < data.plot_files.length - 1) {
                    currentPlotIndex++;
                    displayHistory(data, currentPlotIndex);
                    $('#prev-button').prop('disabled', false);
                }
                if (currentPlotIndex == data.plot_files.length - 1){
                    $('#next-button').prop('disabled', true);
                }

            });

            $('#replay-button').click(function () {
                startVisualization(data);
            });
        }

        $(document).ready(function () {
            let plotFiles;

            $('input[name="location"]').change(function () {
                if (this.value === 'predefined') {
                    $('#predefined-options').show();
                    $('#custom-options').hide();
                    $('#custom-file').val('');
                    $('#error-message').hide();
                } else {
                    $('#predefined-options').hide();
                    $('#custom-options').show();
                    $('input[name="city-count"]').prop('checked', false);
                }
            });
            $('#custom-file').change(function (e) {
                var ext = this.value.match(/\.([^\.]+)$/)[1];
                if (ext !== 'csv') {
                    $('#error-message').text('Please upload a CSV file.').show();
                    this.value = '';
                } else {
                    $('#error-message').hide();
                }
            });
        });
    </script>
    {% block extra_js %}{% endblock %}
    <script>
        $(document).ready(function () {
            $('#replay-button').click(function () {
                if (plotFiles) {
                    startVisualization(plotFiles);
                }
            });
        });
    </script>
</body>

</html>